@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(69, 68, 83);
  background: linear-gradient(
    90deg,
    rgba(69, 68, 83, 1) 0%,
    rgba(72, 87, 92, 1) 45%,
    rgba(54, 151, 171, 1) 100%
  );
}

code {
  font-family: 'Poppins', sans-serif;
}
